[submodule "include/ikkuna"]
	path = include/ikkuna
	url = https://github.com/diath/ikkuna
[submodule "include/Simple-Tiled-Implementation"]
	path = include/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "include/love-bone"]
	path = include/love-bone
	url = https://github.com/scientiist/love-bone
[submodule "json.lua"]
	path = json.lua
	url = https://github.com/rxi/json.lua
